:root{
    --c-black: #000;
    --c-white: #fff;
    --c-blue-dark: #000638;
    --c-blue-light:#283A61;
    --c-blue:#000638;
    --c-grey:#605C59; 
    --c-grey-dark:#434343;   
    --c-blue-clear:#DFE6FF;
    --c-silver:#F5F5F5;
}

.azul{
    color: var(--blue);
}