.header {


    padding-inline: .75rem;

    @include desk {
        display: flex;
        justify-content: center;
        padding-inline: 0;

    }

    &__container {
        position: relative;

        @include desk {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__container-mob {
        display: flex;
        padding: 1.875rem 0 5px;
        justify-content: space-between;
        background-color: var(--c-white);
        position: relative;
        z-index: 2;
        a{

            text-decoration: none;
        }

    }

    &__slogan {
        font-family: var(--ff-merriweather);
        color: var(--c-blue-dark);
        font-weight: 900;
        font-size: 1.5rem;
        margin: 0;
    }

    .icon-mob {
        display: block;
        text-decoration: none;
        background-color: var(--c-blue-dark);
        color: var(--c-white);
        border-radius: .3125rem;
        padding: .1875rem;
        z-index: 1;
        width: 25px;

        @include desk {
            display: none;
        }
    }

    .icon-bar {
        border-bottom: 1px solid var(--c-white);
        width: 100%;
        display: block;
        position: relative;
        transform: rotate(360deg);
        transition: ease-in 0.25s;
        top: .1875rem;

        &::after {
            content: "";
            border-bottom: 1px solid var(--c-white);
            width: 100%;
            position: absolute;
            top: .4375rem;
            transition: ease-in 0.25s;

        }

        &::before {
            content: "";
            border-bottom: 1px solid var(--c-white);
            width: 100%;
            position: absolute;
            top: .875rem;
            transition: ease-in 0.25s;
        }
    }

    .active {
        border-bottom: 1px solid var(--c-white);
        width: 100%;
        display: block;
        position: relative;
        transform: rotate(45deg);
        transition: ease-in 0.25s;
        top: .625rem;

        &::before {
            content: "";
            border-bottom: transparent;
            width: 100%;
            position: absolute;

        }

        &::after {
            content: "";
            border-bottom: 1px solid var(--c-white);
            width: 100%;
            position: absolute;
            top: 0;
            transform: rotate(-90deg);
            transition: ease-in 0.25s;
        }
    }

    &__menu-mob {
        display: block;
        justify-content: space-between;
        padding: .3125rem 0;
        border-radius: .3125rem 0rem .3125rem .3125rem;
        background-color: var(--c-blue-dark);
        position: absolute;
        top: -100px;
        width: 100%;
        transition: ease-in 0.25s;

        @include desk {
            display: flex;
            background-color: var(--c-white);
            padding: 0rem;
            position: unset;
            width: auto;
        }

        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 0px;
            gap: 1.25rem;

            @include desk {
                flex-direction: inherit;
            }

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: var(--c-white);

                    @include desk {
                        text-decoration: none;
                        color: var(--c-grey);
                        font-size: 1.125rem;
                    }
                }
            }
        }
    }

    .open {
        display: block;
        position: absolute;
        top: 3.6875rem;
        transition: ease-in 0.25s;
    }


}